<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dl.mapper.ClassInfoMapper">

    <!-- 查询班级信息 -->
    <select id="queryClassInfoPage" resultType="com.dl.entity.vo.ClassInfoVO">
        SELECT 
            college_id,
            college_name,
            profession,
            class_name,
            teacher_id,
            teacher_name
        FROM 
            class_info
        <where>
            <if test="collegeName != null and collegeName != ''">
                AND college_name LIKE CONCAT('%', #{collegeName}, '%')
            </if>
            <if test="profession != null and profession != ''">
                AND profession LIKE CONCAT('%', #{profession}, '%')
            </if>
            <if test="className != null and className != ''">
                AND class_name LIKE CONCAT('%', #{className}, '%')
            </if>
        </where>
        ORDER BY college_id, profession, class_name
    </select>

    <select id="queryUnassignedClasses" resultType="com.dl.entity.vo.UnassignedClassVO">
        SELECT 
            college_id as collegeId,
            college_name as collegeName,
            profession,
            class_name as className
        FROM 
            class_info
        WHERE 
            (teacher_id IS NULL 
            OR teacher_id = '' 
            OR teacher_name IS NULL 
            OR teacher_name = '')
            <if test="collegeName != null and collegeName != ''">
                AND college_name = #{collegeName}
            </if>
        ORDER BY 
            college_id, profession, class_name
    </select>

    <update id="assignClass">
        UPDATE class_info
        SET teacher_id = #{teacherId},
            teacher_name = #{teacherName}
        WHERE college_name = #{collegeName}
        AND profession = #{profession}
        AND class_name = #{className}
    </update>

    <update id="unassignClass">
        UPDATE class_info
        SET teacher_id = NULL,
            teacher_name = NULL
        WHERE college_name = #{collegeName}
        AND profession = #{profession}
        AND class_name = #{className}
    </update>

</mapper> 