<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dl.mapper.TeacherMapper">

    <!-- 辅导员查询结果映射 -->
    <resultMap id="TeacherResultMap" type="com.dl.entity.vo.TeacherVO">
        <result column="teacher_id" property="teacherId"/>
        <result column="teacher_name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="phone" property="phone"/>
        <result column="college" property="college"/>
    </resultMap>

    <!-- 查询教师列表 -->
    <select id="queryTeacherPage" resultType="com.dl.entity.vo.TeacherVO">
        SELECT 
            t.teacher_id, 
            t.name,
            t.sex, 
            u.phone,
            t.college,
            c.profession,
            c.class_name as className
        FROM 
            teacher_info t
        LEFT JOIN
            school_user u on t.teacher_id = u.user_id
        left join
            class_info c on t.teacher_id = c.teacher_id
        <where>
            t.teacher_id in (
                SELECT teacher_id FROM class_info
            )
            <if test="teacherId != null and teacherId != ''">
                AND t.teacher_id LIKE CONCAT('%', #{teacherId}, '%')
            </if>
            <if test="teacherName != null and teacherName != ''">
                AND t.teacher_name LIKE CONCAT('%', #{teacherName}, '%')
            </if>
            <if test="college != null and college != ''">
                AND t.college LIKE CONCAT('%', #{college}, '%')
            </if>
            <if test="profession != null and profession != ''">
                AND c.profession LIKE CONCAT('%', #{profession}, '%')
            </if>
            <if test="className != null and className != ''">
                AND c.class_name LIKE CONCAT('%', #{className}, '%')
            </if>
        </where>
        GROUP BY t.teacher_id, t.name, t.sex, u.phone, t.college, c.profession, c.class_name
        order by t.college
    </select>
</mapper> 